ul {
    list-style-type: square;
    list-style-position: inside;
}
ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}